<div class="card mb-3 m-4 lead border-black" style="max-width: 540px;"  >
    <div class="row g-0">
        <div class="col-md-4 ">
            <img
                src="https://i.pinimg.com/474x/18/38/7c/18387c9f3aefb685eba0b0e620850660.jpg"
                class="img-fluid rounded-start"
                alt="Card title"
            />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Contattaci!</h5>
                <p class="card-text">
                    🍕 Benvenuti alla Pizzeria Pizza Pazza! 🍕<br>

                    Se desideri deliziare il tuo palato con autentica pizza italiana, 
                    sei nel posto giusto! Presso la nostra pizzeria, lavoriamo con passione
                    e dedizione per offrirti un'esperienza gastronomica indimenticabile.<br>

                    
                    📍 Indirizzo: Via Roma, 123 - Città, CAP<br>
                    
                    📞 Telefono: +39 0123 456789 <br>
                    
                
                    
                   
                </p>
                <p class="card-text">
                    🕒 Orari di apertura:
                    
                        Lunedì - Giovedì: 11:00 - 22:00
                        Venerdì - Sabato: 11:00 - 23:00
                        Domenica: Chiuso
                </p>
            </div>
        </div>
    </div>
    <footer>🌐 Seguici online:
    
        Facebook: <a href="facebook.com/pizzeriPizzaPazza">facebook.com/pizzeriPizzaPazza</a></footer>
</div>
