<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Chi siamo</h3>

            <!-- Hover added -->
            <div class="list-group">
                <a [routerLink]="['/chi-siamo/proprietari']" class="list-group-item list-group-item-action ">proprietari</a>
                <a [routerLink]="['/chi-siamo/lavoratori']" class="list-group-item list-group-item-action">lavoratori</a>
                <a [routerLink]="['/chi-siamo/sedi']" class="list-group-item list-group-item-action ">sedi</a>
            </div>
            
''
     <div class="col-6">

        <router-outlet></router-outlet>

     </div>



        </div>
    </div>
</div>